

<!-- <app-test2 *ngIf="!showC"></app-test2>
<app-test1 *ngIf="showC"></app-test1>
<button (click)="click()">click</button> -->

<div class="container-fluid ">
  <div class="row">
    <div class="col-12 text-center ">
      <p class="h4 text-primary">Welcome to TcbbEBankClass!</p>
    </div>

    <app-test3></app-test3>

  </div>
</div>


<!-- <textarea id="w3review" name="w3review" rows="4" cols="50" [(ngModel)]="str" >
  </textarea>
  <textarea id="w3review" name="w3review" rows="4" cols="50" [(ngModel)]="str1" >
  </textarea>
  <hr/> -->

  <!-- <span *ngFor="let item of bb" [innerHTML]="item"></span>
<hr>
<span *ngFor="let item of cc" [innerHTML]="item"></span> -->

<!-- <button (click)="mergeRes()">合併Res</button>
<button (click)="mergeReq()">合併Req</button>

<hr/>
<span *ngFor="let item of yyy" [innerHTML]="item"></span> -->

<router-outlet></router-outlet>